* {
  padding: 0;
  margin: 0;
}
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*height: 16%; */
}

.logo {
  width: 95px;
  height: auto;
}

.button--container {
  display: flex;
  gap: 20px;
  list-style: none;
}

.item-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.item-link:hover {
  color: brown;
  text-decoration: underline;
}

.home {
  background-image: url(https://cache.marriott.com/marriottassets/marriott/MEXMC/mexmc-mansion-0053-hor-feat.jpg?downsize=1024px:*);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home > h1 {
  font-size: 50px;
}

.home > h3 {
  font-size: 30px;
}
.home > i {
  font-size: 50px;
}
svg {
  width: 30px;
}
.concepto--container {
  background-image: url(https://img.freepik.com/vector-gratis/fondo-pantalla-hojas-tropicales_52683-38178.jpg?w=2000);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.concepto {
  width: 55vh;
  height: 55vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  border-radius: 18px;
}

.fotos {
  background-image: url(https://besthqwallpapers.com/Uploads/5-6-2020/135154/thumb2-green-leaves-texture-background-with-green-leaves-natural-background-leaves-texture-eco-background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-content: space-evenly;
  justify-items: center;
  justify-content: space-evenly;
}

.fotos > img {
  height: 250px;
  width: 250px;
  border-radius: 12px;
}

.carta > h2 {
  padding: 12px;
}
